<div class="row container" style="margin-top: 4em;">
<div class="col-md-4 mx-auto">
    <h2>Create Account</h2>
    <form [formGroup]="signUpForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label for="userName"> Name </label>
            <input type="text" id="userName" class="form-control" formControlName="userName">
            <span *ngIf="formControls.userName.touched && formControls.userName.invalid" class="error">please insert your name</span>
        </div>

        <div class="form-group">
            <label for="email"> Email </label>
            <input type="email" id="email" class="form-control" formControlName="email">
            <span *ngIf="formControls.email.touched && formControls.email.invalid" class="error">please insert a valid email</span>
        </div>

        <div class="form-group">
            <label for="password"> Password </label>
            <input type="password" id="password" class="form-control" formControlName="password">
            <span *ngIf="formControls.password.touched && formControls.password.invalid" class="error">the password should contain at less 6 caracter</span>
            
        </div>

        <button type="submit" [disabled]="signUpForm.invalid" class="btn btn-primary">Create Account</button>

    </form>
</div>
</div>